<h1>Create New Recipe</h1>

<%
=begin%>
 TODO: 
 - error handling 
 - saving form state when there is an error (currently if i add ingredients, i have to re-add them)

<%
=end%>

<%=form_with model: @recipe, html: {class: 'flex flex-col gap-4 p-4 bg-gray-100 border-gray-400 text-gray-700 border rounded'} do |form| %>

    <%= form.label :name %>
    <%= form.text_field :name, required: true %>

    <%= form.label :instructions %>
    <%= form.text_area :instructions, size: '50x10', required: true %>

    <div data-controller="nested-form" class="flex flex-col gap-8 mb-8">
        <template data-nested-form-target="template">
            <%= form.fields_for :ingredients, Ingredient.new, child_index: 'NEW_RECORD' do |ingredient_fields| %>
                <%= render "nested_ingredient", form: ingredient_fields %>
            <% end %>
        </template>

        <%= form.fields_for :ingredients, @recipe.ingredients.build do |ingredient_fields| %>
            <%= render "nested_ingredient", form: ingredient_fields %>
         <% end %> 

        <div data-nested-form-target="links">
            <%= link_to "Add Ingredient", "#", data: {action: "click->nested-form#add_association"}, class:'pointer-events-auto rounded-md px-4 py-2 text-center font-medium shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-50' %>
        </div>
    </div>

    <%= form.label :ingredients %>
    <%= form.collection_select :ingredients, Ingredient.all, :id, :name, {}, { multiple: true, class: "existing-ingredients" } %> 

    <%= form.submit "Create Recipe", class:'block pointer-events-auto rounded-md px-4 py-2 text-center font-medium shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-50' %>
<% end %>